@model List<CINEMA.DB.Movies>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Now in Cinema</li>
    </ol>
</nav>
<div class="list-unstyled">
    @foreach (var movie in Model)
    {
        <div class="media p-2">
            <img class="align-self-start mr-3" src="@movie.Image" alt="Card image cap">
            <div class="media-body">
                <a class="h2 mt-0" asp-controller="Movies" asp-action="Movie" asp-route-id="@movie.Id">@movie.Title</a>
                <p>@movie.Text</p>
                <p class="mb-3"><small class="text-muted">@movie.Duration min</small></p>
                <a class="btn btn-primary" asp-controller="Movies" asp-action="Movie" asp-route-id="@movie.Id">Book</a>
            </div>
            </div>
    }   
 </div>

