@model CINEMA.GettingData


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Movies</li>
    </ol>
</nav>
<div class="list-unstyled">
    @foreach (var movie in Model.ListOfMovies)
    {
        <div class="media p-2">
            <img class="align-self-start mr-3" src="@movie.Image" alt="Card image cap">
            <div class="media-body">
                <a class="h2 mt-0" asp-controller="Movies" asp-action="Movie" asp-route-id="@movie.Id">@movie.Title</a>
                <p>@movie.Text</p>
                <p class="mb-3"><small class="text-muted">@movie.Duration min</small></p>
                
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Please select time
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (var t in Model.Timetables.Where(t => movie.Id == t.MovieId))
                        {
                        <a class="dropdown-item" asp-controller="Movies" asp-action="SelectTime" asp-route-starttime="@t.StartTime">@t.StartTime</a>
                        }
                    </div>
                </div>
            </div>
            
            <a class ="btn btn-primary" asp-controller="Movies" asp-action="Book" asp-route-title="@movie.Title">Book</a>
        </div>
  }
 </div>


