@model DataModel
@if (Model.ActiveMovie != null)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">@Model.ActiveMovie.Title</li>
        </ol>
    </nav>
    <div class="media p-2">
        <img class="align-self-start mr-3" src="@Model.ActiveMovie.Image" alt="Card image cap">
        <div class="media-body">
            <a class="h2 mt-0">@Model.ActiveMovie.Title</a>
            <p>@Model.ActiveMovie.Text</p>
            <p class="mb-3"><small class="text-muted">@Model.ActiveMovie.Duration min</small></p>
            <a class="text-dark">Category: </a>
            <a class="text-body" asp-controller="Movies" asp-action="Categories" asp-route-id="@Model.ActiveMovie.CategoryId">@Model.CategoryTitle</a>
            <div class="dropdown mt-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Please select time
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var t in Model.MovieTimes)
                    {
                        <a class="dropdown-item" asp-controller="Movies" asp-for="Book" asp-route-starttime="@t">@t</a>
                    }
                </div>
            </div>
        </div>
        
    </div>
    
    <a class="btn btn-primary btn-block mt-3" asp-controller="Movies" asp-action="Book" asp-route-id="@Model.ActiveMovie.Id" >Book</a>
}



