@model DataModel
@if (Model.ActiveMovie != null)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">@Model.ActiveMovie.Title</li>
        </ol>
    </nav>
    <div class="media p-2">
        <img class="align-self-start mr-3" src="@Model.ActiveMovie.Image" alt="Card image cap">
        <div class="media-body">
            <a class="h2 mt-0">@Model.ActiveMovie.Title</a>
            <p>@Model.ActiveMovie.Text</p>
            <p class="mb-3"><small class="text-muted">@Model.ActiveMovie.Duration min</small></p>
            <a class="text-body">Category</a>
            <a class="text-body" asp-controller="Movies" asp-action="Categories" asp-route="">@Model.ActiveMovie.CategoryId</a>
        </div>
        <a class="btn btn-primary" asp-controller="Movies" asp-action="Book" asp-route-id="@Model.ActiveMovie.Id">Book</a>
    </div>
}

