@model DataModel


<div class="card text-center">
    <div class="card-header">
        @Model.GetCategoryTitle(Model.Movie.CategoryId).Title;
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Movie.Title</h5>
        <p class="card-text">@Model.Movie.Text</p>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Please select time
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @foreach (var m in Model.GetMovieTime(Model.Movie.Id))
                {
                    <a class="dropdown-item" href="#">@m.StartTime</a>
                }
            </div>
        </div>

        <a href="#" class="btn btn-primary" asp-controller="Movies" asp-action="Book" asp-route-title="@Model.Movie.Id">Book</a>
    </div>
    <div class="card-footer text-muted">
        @Model.Movie.Duration
    </div>
</div>

